* {
    box-sizing: border-box;
}

.carrito-container {
    width: 750px;
    //height: 430px;
    margin: 0px auto;
    background: #f6f3e6;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.carrito-item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.carrito-botones {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.btn-delete {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("https://img.icons8.com/ios/64/000000/delete-sign.png") no-repeat center;
}

    .btn-delete:hover {
        transform: scale(1.1);
    }

.carrito-imagen {
    margin-right: 50px;
}

    .carrito-imagen img {
        width: 80px;
        height: 80px;
        border-radius: 6px;
    }

    .carrito-imagen img:hover {
        transform: scale(1.1);
        transition-duration: .3s;
    }

    .carrito-imagen img:hover {
        transition-duration: .3s;
    }

.carrito-descripcion {
    padding-top: 10px;
    margin-right: 60px;
    width: 215px;
    cursor: default;
}

    .carrito-descripcion span {
        display: block;
        font-size: 18px;
        color: #43484D;
        font-weight: 400;
    }

        .carrito-descripcion span:first-child {
            margin-bottom: 5px;
        }

        .carrito-descripcion span:last-child {
            font-weight: 300;
            margin-top: 8px;
            color: #86939E;
        }

.carrito-cantidad {
    padding-top: 32px;
    margin-right: 20px;
    cursor: default;
    font-size: 16px;
}

.carrito-precio-total {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 20px !important;
    color: #43484D;
    font-weight: 300;
    cursor: default;
}

.carrito-titulo {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #43484D;
    font-size: 20px !important;
    font-weight: 400;
}

.carrito-totales {
    height: 80px;
    background: #f6f3e6;
    color: #43484D;
    border-top: 1px solid #dae3ea;
    font-size: 25px !important;
    font-weight: 400;
    text-align: right;
    cursor: default;
    padding: 20px 30px;
}