footer {
    position: relative;
    float: none;
    clear: both;
    background-color: #2f2f2f;
    height: 200px;
    padding: 5px 0;
}

footer h4{
    font-size: larger;
    margin:0;
    padding:0;
    color:yellow;

}

    footer p {
        color: #fff;
        text-align: left;
    }

