.menu {
    z-index: 999;
    height: 90px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 6px;
    background-color: #51514a;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
    box-shadow: 0 5px 5px #888888;
    position: fixed;
}

.menuMini {
    position: fixed;
    z-index: 999;
    height: 60px;
    padding-top: 7px;
    padding-bottom: 3px;
}

.logo {
    width: 70px;
    font-size: 36px;
    color: #d5cfcf;
    text-transform: uppercase;
    transition: all 0.2s;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
}

.colorDorado {
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoMini {
    width: 95px;
    font-size: 20px;
    margin-bottom: 10px;
}

.navMini {
    margin-top: 0;
    font-size: .9rem;
}

nav {
    float: right;
    font-size: 1.1rem;
}

    nav ul {
        list-style: none;
        overflow: hidden;
        text-align: right;
        float: right;
    }

        nav ul li {
            display: inline-block;
            margin-left: 35px;
            line-height: 1.5;
        }

        nav ul a {
            color: #d5cfcf;
            text-transform: uppercase;
            //font-size: 12px;
        }

        nav ul li a:hover {
            color: #ffffff;
        }

        nav ul ul {
            position: absolute;
            left: -999em;
            top: 20em;
        }

        nav ul li:hover ul {
            left: 0;
            top: auto;
        }

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    //position: relative;
    padding: 0 1%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    color: #404040;
    background: #FFFFFF;
    font-family: "PlayFair Display", "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
}

.content {
    padding: 90px 2% 3%;
    min-height:570px;
}

footer {
    clear: both;
    position: relative;
    float: none;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 5px;
    background-color: #51514a;
    color: #d5cfcf;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    height: 70px;
    box-shadow: 0 -5px 5px #888888;
    bottom: 0;
}

#logoCarrito {
    font-size: 2.5rem;
}

ul li a.carrito .carrito-cantidad-items {
    font-size: 1rem;
    position: relative;
    top: -1px;
    right: 8px;
    width: 22px;
    height: 22px;
    color: #fff;
    background-color: #418deb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.boton_amarillo {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
}

    .boton_amarillo:hover {
        color: #ffffff !important;
        background: #f6b93b;
        //border-color: #f6b93b !important;
        transition: all 0.3s ease 0s;
        border-radius: 6px;
    }

input[type=text] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    //border: 2px solid #000000;
    //border: 2px solid #f6b93b;
    border: 2px solid #494949 !important;
    //color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
    font-size: medium;
    //background-color: #f2f2a5;
}

input[type=text]:hover {
    background-color: #f2f2a5;
}

input[type=password] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    //border: 2px solid #000000;
    //border: 2px solid #f6b93b;
    border: 2px solid #494949 !important;
    //color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
    font-size: medium;
    //background-color: #f2f2a5;
}

input[type=password]:hover {
    background-color: #f2f2a5;
}

input[type=submit] {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    font-family: "PlayFair Display", "Cardo", serif;
    font-size: 16px;
}

    input[type=submit]:hover {
        color: #ffffff !important;
        background: #f6b93b;
        //border-color: #f6b93b !important;
        transition: all 0.3s ease 0s;
        border-radius: 6px;
        cursor: pointer;
    }

textarea {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    //border: 2px solid #000000;
    //border: 2px solid #f6b93b;
    border: 2px solid #494949 !important;
    //color: #a0d18c;
    width: 500px;
    height: 30px;
    padding-left: 10px;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
    font-size: medium;
    //background-color: #f2f2a5;
}

    textarea:hover {
        background-color: #f2f2a5;
    }

select {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    //border: 2px solid #000000;
    //border: 2px solid #f6b93b;
    border: 2px solid #494949 !important;
    //color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
    font-size: medium;
    //background-color: #f2f2a5;
}

    select:hover {
        background-color: #f2f2a5;
    }

.columna {
    float: left;
    width: 35%;
}

input[type=number] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    //border: 2px solid #000000;
    //border: 2px solid #f6b93b;
    border: 2px solid #494949 !important;
    //color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
    font-size: medium;
    //background-color: #f2f2a5;
}

    input[type=number]:hover {
        background-color: #f2f2a5;
    }

input[type=date] {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    //border: 2px solid #000000;
    //border: 2px solid #f6b93b;
    border: 2px solid #494949 !important;
    //color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-family: "PlayFair Display", "Montserrat", sans-serif;
    font-size: medium;
    //background-color: #f2f2a5;
}

    input[type=date]:hover {
        background-color: #f2f2a5;
    }