.artistCard {
    border: 1px solid #808080;
    cursor: pointer;
    width: 220PX;
    padding: 5PX;
    margin: 3PX;
    text-align: center;

    float: left;
}

    .artistCard .name {
        font-size: medium;
    }

    .artistCard .detail {
        font-size: small;
    }

.productCard {
    border: 1px solid #808080;
    cursor: pointer;
    padding: 5PX;
    margin: 3PX;
    text-align: center;
    float: left;
}

    .productCard .title {
        font-size: medium;
    }

    .productCard .author {
        font-size: small;
    }

    .productCard .price {
        font-size: larger;
    }
