html, body {
    height: 100%;
    background-color: #00698C;
    margin:0;
    font-family: "PlayFair Display", Calibri;
    font-size: medium;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}


.container {
    width: 960px;
    margin: 0 auto;
}



aside {
    float: left;
    width: 19%;
    background-color: #fafafa;
}






.col-3{
    width: 300px;
    float:left;
}