<!--
<section id="main-slider">
    <div class="container">
        <br><br><br><br>
        <h1>Presentacion</h1>

    </div>
</section>
-->
<link href="~/Content/Galeria.css" rel="stylesheet" />

<section>
    <div class="row content">
        <br><br><br><br>
        <h1>Presentación</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus sequi sint consectetur excepturi doloribus vero provident consequuntur accusamus quisquam nesciunt cupiditate soluta alias illo et deleniti voluptates facilis repudiandae similique dolore quaerat architecto perspiciatis officiis dolor ullam expedita suscipit neque minima rem praesentium inventore ab officia quos dignissimos esse quam placeat iste porro eius! Minus, aspernatur nesciunt consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum blanditiis.</p>
    </div>
</section>

<section id="sec01">
    <div class="row content">
        <h1>Artistas</h1>
        <br><p>Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum blanditiis.</p>
    </div>
</section>

<section id="sec02">
    <div class="row content">
        <h1>Galería</h1>
        <br><p>Minus, aspernatur nesciunt consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum blanditiis.</p>
    </div>
</section>

<section id="sec04">
    <div class="row content">
        <h1>Quienes somos</h1>
        <p>Alumnos de la facultad de Ingenieria de la Universidad Abierta Inteamericana. Sede Castelar</p>
        <p>
            Materia: Lenguaje de Programación Para la Administración<br />
            Profesor: Victor Contreras.
            Año: 2020
        </p>
        <p>
            <a href="#">Cortes, Hernan</a><br>
            <a href="#">Grassano, Javier</a><br>
            <a href="#">Zalazar, Agustin</a><br>
        </p>
    </div>
</section>

<section id="sec03">
    <div class="row">
        <h1>NOVEDADES</h1>
        <br>
        <div class="galeria-container-all">
            <div class="galeria-container">
                <img src="https://img.theculturetrip.com/1024x/smart/wp-content/uploads/2019/01/untitled-1-1.jpg" alt="" class="galeria-imagen">
                <span class="galeria-titulo">Lorem ipsum dolor</span>
                <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
            </div>
            <div class="galeria-container">
                <img src="https://www.worldatlas.com/r/w728/upload/d3/75/8b/1599px-sandro-botticelli-la-nascita-di-venere-google-art-project-edited.jpg" alt="" class="galeria-imagen">
                <span class="galeria-titulo">Lorem ipsum dolor</span>
                <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
            </div>
            <div class="galeria-container">
                <img src="https://img.theculturetrip.com/1024x/smart/wp-content/uploads/2019/01/untitled-1-1.jpg" alt="" class="galeria-imagen">
                <span class="galeria-titulo">Lorem ipsum dolor</span>
                <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
            </div>
            <div class="galeria-container">
                <img src="https://www.worldatlas.com/r/w728/upload/d3/75/8b/1599px-sandro-botticelli-la-nascita-di-venere-google-art-project-edited.jpg" alt="" class="galeria-imagen">
                <span class="galeria-titulo">Lorem ipsum dolor</span>
                <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
            </div>
            <div class="galeria-container">
                <img src="https://img.theculturetrip.com/1024x/smart/wp-content/uploads/2019/01/untitled-1-1.jpg" alt="" class="galeria-imagen">
                <span class="galeria-titulo">Lorem ipsum dolor</span>
                <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
            </div>
            <div class="galeria-container">
                <img src="https://www.worldatlas.com/r/w728/upload/d3/75/8b/1599px-sandro-botticelli-la-nascita-di-venere-google-art-project-edited.jpg" alt="" class="galeria-imagen">
                <span class="galeria-titulo">Lorem ipsum dolor</span>
                <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
                <!--
                <div class="galeria-boton-agregar-al-carrito"><a href="#">+</a></div>
                -->
            </div>
        </div>
    </div>
</section>