<!--
<section id="main-slider">
    <div class="container">
        <br><br><br><br>
        <h1>Presentacion</h1>

    </div>
</section>
-->
<link href="~/Content/Galeria.css" rel="stylesheet" />

@*<section id="sec04">
        <div class="row content">
            <h1>NOVEDADES</h1>
            <br>
            <div class="galeria-container-all">
                <div class="galeria-container">
                    <img src="https://img.theculturetrip.com/1024x/smart/wp-content/uploads/2019/01/untitled-1-1.jpg" alt="" class="galeria-imagen">
                    <span class="galeria-titulo">Lorem ipsum dolor</span>
                    <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                    <span class="galeria-precio">$1500</span>
                    <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
                </div>
                <div class="galeria-container">
                    <img src="https://www.worldatlas.com/r/w728/upload/d3/75/8b/1599px-sandro-botticelli-la-nascita-di-venere-google-art-project-edited.jpg" alt="" class="galeria-imagen">
                    <span class="galeria-titulo">Lorem ipsum dolor</span>
                    <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                    <span class="galeria-precio">$3700</span>
                    <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
                </div>
                <div class="galeria-container">
                    <img src="https://img.theculturetrip.com/1024x/smart/wp-content/uploads/2019/01/untitled-1-1.jpg" alt="" class="galeria-imagen">
                    <span class="galeria-titulo">Lorem ipsum dolor</span>
                    <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                    <span class="galeria-precio">$1800</span>
                    <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
                </div>
                <div class="galeria-container">
                    <img src="https://www.worldatlas.com/r/w728/upload/d3/75/8b/1599px-sandro-botticelli-la-nascita-di-venere-google-art-project-edited.jpg" alt="" class="galeria-imagen">
                    <span class="galeria-titulo">Lorem ipsum dolor</span>
                    <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                    <span class="galeria-precio">$2700</span>
                    <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
                </div>
                <div class="galeria-container">
                    <img src="https://img.theculturetrip.com/1024x/smart/wp-content/uploads/2019/01/untitled-1-1.jpg" alt="" class="galeria-imagen">
                    <span class="galeria-titulo">Lorem ipsum dolor</span>
                    <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                    <span class="galeria-precio">$5400</span>
                    <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
                </div>
                <div class="galeria-container">
                    <img src="https://www.worldatlas.com/r/w728/upload/d3/75/8b/1599px-sandro-botticelli-la-nascita-di-venere-google-art-project-edited.jpg" alt="" class="galeria-imagen">
                    <span class="galeria-titulo">Lorem ipsum dolor</span>
                    <span class="galeria-texto">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
                    <span class="galeria-precio">$3200</span>
                    <div class="galeria-boton-ver-mas"><a href="#">VER MAS</a></div>
                </div>
            </div>
        </div>
    </section>*@
<div>
    <img style="width:100%;margin-top:30px;" src="~/public/pictures/parthenon.jpg" />
</div>

<section id="sec01">
    <div class="row content">
        <h1>Presentación</h1>
        <h3>
            Proyecto Web: Galería de Arte
        </h3>
        <p>Alumnos de la facultad de Ingenieria de la Universidad Abierta Inteamericana. Sede Castelar</p>
        <p>
            Materia: Lenguaje de Programación Para la Administración<br />
            Profesor: Victor Contreras.
            Año: 2020
        </p>
        <p>
            <a href="#">Cortes, Hernan</a><br>
            <a href="#">Grassano, Javier</a><br>
            <a href="#">Zalazar, Agustin</a><br>
        </p>
    </div>
</section>