<section id="main-slider">
    <div class="container">

        <h1>Presentacion</h1>

    </div>
</section>

<section>
    <div class="container">
        <hr />
        <h1>NOVEDADES</h1>
    </div>
</section>

<section>
    <div class="container">
        <hr />
        <h1>IDEAS NUEVAS</h1>
    </div>
</section>